<p id="notice"><%= notice %></p>

<h1>Listing Worksheet Ts</h1>

<table>
  <thead>
    <tr>
      <th>Module t</th>
      <th>Member t</th>
      <th>Tutee t</th>
      <th>School</th>
      <th>Score</th>
      <th>Reached quota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worksheet_ts.each do |worksheet_t| %>
      <tr>
        <td><%= worksheet_t.module_t_id %></td>
        <td><%= worksheet_t.member_t_id %></td>
        <td><%= worksheet_t.tutee_t_id %></td>
        <td><%= worksheet_t.school %></td>
        <td><%= worksheet_t.score %></td>
        <td><%= worksheet_t.reached_quota %></td>
        <td><%= link_to 'Show', worksheet_t %></td>
        <td><%= link_to 'Edit', edit_worksheet_t_path(worksheet_t) %></td>
        <td><%= link_to 'Destroy', worksheet_t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worksheet t', new_worksheet_t_path %>
