<p id="notice"><%= notice %></p>

<br>
<br>
<br>
<center>
          <div class="container card open-sans main-white">
            <div class="card-content">
              <span class="card-title activator main-green-text"><%= @module_t.file_file_name %></i></span>
                <div class="row"><br>
					  <strong><b>Subject:</b></strong>
					  <%= @module_t.subject %><br><br>
					    <strong><b>Upload date:</b></strong>
  						<%= @module_t.upload_date %><br><br>
  						  <b>Topic:</b>
  						  <%= @module_t.topic %><br><br>
  						  <b>Uploaded By:</b>
  						  <%= @module_t.member_t.first_name %> <%=@module_t.member_t.middle_initial %> <%=@module_t.member_t.last_name %><br><br>
  						  </div>

  						  <div class="row">
  						  <center>
  						<%= link_to 'Download', @module_t.file.url(:original, false), :class => 'waves-effect waves-light btn btn-main-green', :target => "_blank" %>
						<%= link_to 'Edit', edit_module_t_path(@module_t), :class => 'waves-effect waves-light btn btn-main-green' %> 
						<%= link_to 'Back', module_ts_path, :class => 'waves-effect waves-light btn btn-main-green' %>
					</center>
                </div>

  						</div>
  						  <!--buttons-->
  						  
              </form>



            
            
          </div>
        </center> 








