

<%= simple_form_for(@tpr_t) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <div class="col s12">
    <center>
      <br>
      <br>
      <a class="main-green-text crete-round"><font size="6">Tutee Progress Report</font></a>          
      <br>
      <%=image_tag("line3.png" , height:'55')%>
      <br>
    </center>
  </div>

  <div class="row">
    <div class="input-field col s6 offset-s3"> 
      <div class="row">
        <div class="input-field col s12">
          <%= f.association :tutee_t, :label => 'Tutee' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s9">
          <%= f.association :module_t, :label => 'Module' %>
        </div>
        <div class="input-field col s3">
        <%= f.input :week_no, :label => 'Week #' %>
      </div> 
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.input :strengths %>
        </div> 
      <div class="row">
      </div> 
        <div class="input-field col s12">
          <%= f.input :weaknesses %>
        </div>            
      </div>         
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :actions %>
      </div>            
    </div>
  <div class="row">
    <div class="form-actions">
      <div class="col s6">
        <%= f.button :submit, "Create TPR", class: 'btn btn-main-green right' %>
      </div>
      <div class="col s6">
        <%= link_to 'Back', tpr_ts_path, class: 'btn btn-main-green' %>
      </div>
    </div>                 
  </div> 
</div>  
</div>
</div>
<% end %>
</div>