<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

    <div class="col s12">
          <center>
          <br>
          <br>
          <a class="main-green-text crete-round"><font size="6">Tutee Profile</font></a>          
          <br>
          <%=image_tag("line3.png" , height:'55')%>
          <br>
          </center>
        </div>


<div class="row">
  <div class="container">
    <%= simple_form_for(@tutee_t) do |f| %>
  <%= f.error_notification %>
    <form class="col s12">

      <div class="row">
        <div class="input-field col s3">
          <%= f.input :first_name, label: 'First Name' %>
        </div>
        <div class="input-field col s3">
           <%= f.input :last_name, label: 'Last Name' %>
        </div>
        <div class="input-field col s3">
          <%= f.input :math_grade, label:'Math Grade' %>
        </div>
        <div class="input-field col s3">
          <%= f.input :eng_grade, label:'English Grade' %>
        </div>

      </div>

      <div class="row">
        <div class="dateinput col s6">
          <%= f.input :school, collection: ['Holy Spirit Elementary School', 'Industrial Valley Elementary School']  %>
        </div>
          <div class="dateinput col s4">
           <%= f.association :module_t, label: 'Current Module' %>
        </div>
        <div class="dateinput col s2">
            <%= f.input :group_no, label: 'Group Number', collection: ['1','2','3','4', '5','6','7','8', '9','10', '11', '12','13','14','15'] %>
     

      </div>

      </div>

      <div class="row">
        
        <div class="input-field col s3">
              <%= f.input :father_name, label: "Father's Name" %>
            </div>
        <div class="input-field col s3">
          <%= f.input :father_occupation, label: 'Occupation' %>
        </div>

      
          <div class="input-field col s3">
          <%= f.input :mother_name, label: "Mother's Name" %>
        </div>
        <div class="input-field col s3">
           <%= f.input :mother_occupation %>
        </div>  

        </div>
      <div class="row">
      <div class="input-field col s3">
           <%= f.input :ambition %>
        </div>
        <div class="input-field col s3">
          <%= f.input :fav_color, label: 'Favorite Color' %>
        </div>
        <div class="input-field col s3 ">
          <%= f.input :fav_subject, label: 'Favorite Subject' %>
        </div>
        <div class="input-field col s3">
          <%= f.input :fav_food, label: 'Favorite Food' %>
        </div>
      </div>

        <div class="form-actions"><center>
    <%= f.submit :Save, :class => 'waves-effect waves-light btn btn-main-green' %>
    <%= link_to 'Cancel', tutee_ts_path, :class => 'waves-effect waves-light btn btn-main-green' %><br>
  </center></div>
<% end %>


         </form>
    </div>
  </div>


 

</html>