<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

     <div class="col s12">
          <center>
          <br>
          <br>
          <a class="main-green-text crete-round"><font size="6">Tutees</font></a>            
          <br>
          <%=image_tag("line3.png" , height:'55')%>
          <br>
          </center>
          <br>
          <center><%= link_to 'Create Tutee Profile', new_tutee_t_path, :class => 'waves-effect waves-light btn btn-main-green' %>
            <%= link_to 'Create Progress Report', new_tpr_t_path, :class => 'waves-effect waves-light btn btn-main-green' %>
          <br>
          <br>
      </center>
        </div>




<!--table-->
  <div class="container">
    <div class="row">
    <table class="bordered">
      <thead class="table-header crete-round">
        <tr>
          <div class="col s2">
          <th data-field="name">Tutee Name</th>
          </div>
          <div class="col s1">
          <th data-field="subject">School</th>
          </div>
          <div class="col s2">
          <th data-field="subject">Current Module</th>
          </div>
          <div class="col s2">
          <th data-field="subject">Last Attended</th>
          </div>
          <div class="col s5">
          <th data-field="actions"><center>Actions</center></th>
          </div>
        </tr>
      </thead>
      <tbody>
    <% @tutee_ts.each do |tutee_t| %>
      <tr>
        <div class="col s2">
        <td><%= tutee_t.first_name %> <%= tutee_t.last_name %></td>
        </div>
        <div class="col s1">
        <td><%= tutee_t.school %></td>
        </div>

        <div class="col s2">
        <td><% t=ModuleT.find(tutee_t.module_t_id) %> <%= t.file_file_name %></td>
        </div>
        <div class="col s2">
        <td></td>
        </div>
        <div class="col s5">
              <td><center><%= link_to 'Show', tutee_t, :class => 'waves-effect waves-light btn btn-main-green' %>
              <%= link_to 'Edit', edit_tutee_t_path(tutee_t), :class => 'waves-effect waves-light btn btn-main-green' %>
              <%= link_to 'Delete', tutee_t, method: :delete, :class => 'waves-effect waves-light btn btn-main-green', data: { confirm: 'Are you sure?' } %>
              
            </center></td>
            </div>
        </tr>



        <% end %>
      </tbody>
    </table>



    
  </div>
</div>










