<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @tutee_t.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @tutee_t.last_name %>
</p>

<p>
  <strong>School:</strong>
  <%= @tutee_t.school %>
</p>

<p>
  <strong>Math grade:</strong>
  <%= @tutee_t.math_grade %>
</p>

<p>
  <strong>Eng grade:</strong>
  <%= @tutee_t.eng_grade %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @tutee_t.father_name %>
</p>

<p>
  <strong>Father occupation:</strong>
  <%= @tutee_t.father_occupation %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @tutee_t.mother_name %>
</p>

<p>
  <strong>Mother occupation:</strong>
  <%= @tutee_t.mother_occupation %>
</p>

<p>
  <strong>Ambition:</strong>
  <%= @tutee_t.ambition %>
</p>

<p>
  <strong>Fav subject:</strong>
  <%= @tutee_t.fav_subject %>
</p>

<p>
  <strong>Fav food:</strong>
  <%= @tutee_t.fav_food %>
</p>

<p>
  <strong>Fav color:</strong>
  <%= @tutee_t.fav_color %>
</p>

<p>
  <strong>Fav movie:</strong>
  <%= @tutee_t.fav_movie %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @tutee_t.attendance %>
</p>

<p>
  <strong>Module t:</strong>
  <%= @tutee_t.module_t_id %>
</p>

<p>
  <strong>Group no:</strong>
  <%= @tutee_t.group_no %>
</p>

<%= link_to 'Edit', edit_tutee_t_path(@tutee_t) %> |
<%= link_to 'Back', tutee_ts_path %>
