<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
  <body class="main-white">



    <!--header-->  
    <div class="col s12">
      <center>
        <br>
        <br>
        <a class="main-green-text crete-round"><font size="6">Create Evaluation</font></a>  
        <br>
        <%=image_tag("line3.png" , height:'55')%>
        <br>
      </center>
    </div>


    <!--cards-->
    <%= simple_form_for(@evaluation_t) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <center>
        <div class="container card open-sans main-white">
          <div class="card-content">
            <span class="card-title activator main-green-text">TUTORING<i class="material-icons right">more_vert</i></span>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <%= f.input :tutoring_comments, label: 'Kamusta ang ERYA ngayong week?'  %>
                </div>
              </div>
            </div>
            <div class="card-reveal open-sans main-white">
              <span class="card-title grey-text text-darken-4">Kamusta ang ERYA ngayong week?<i class="material-icons right">close</i></span>
              <p>Sign-ups - Maayos ba or magulo yung sign-ups?; Meet ups - May nalate ba sa heads mo?; Transpo - na-accommodate ba ng jeep/s ang lahat ng tutors?; Pre-insertion - na-orient ba kayo ng maayos kung ano yung gagawin? May hindi ba nabigyan ng modules?; Actual tutoring - may problem/s ka bang na-encounter with your kid habang nagtuturo? Attentive ba siya at nagpaparticipate?; Post-Erya - May problems ka bang na-encounter after tutoring katulad ng sa pag-uwi, documentation, etc;</p>
            </div>
          </div>
        </center>

        <center>
          <div class="container card open-sans main-white">
            <div class="card-content">
              <span class="card-title activator main-green-text">MATH MODULES<i class="material-icons right">more_vert</i></span>
                <div class="row">
                  <div class="input-field col s12">
                    <%= f.input :math_module_comments, label: 'Kamusta ang Math module ng kid mo ngayong week?' %>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <%= f.input :math_sw_comments, label: 'Eh yung seatwork?' %>
                  </div>
                </div>
              
            </div>
            <div class="card-reveal open-sans main-white">
              <span class="card-title grey-text text-darken-4">Kamusta ang Math module ng kid mo ngayong week?<i class="material-icons right">close</i></span>
              <p>Malabo ba ang discussion ng topic? Mahirap bang intindihin for the kids? Kulang ba sa examples?</p>
              <span class="card-title grey-text text-darken-4">Eh yung seatwork?</span>
              <p>Malabo ba ang instructions ng seatwork? Masyado bang mahirap para sa kids? O masyado bang madali na walang room for challenge? Kulang ba ng items sa seatwork?</p>
            </div>
          </div>
        </center>    

        <center>
          <div class="container card open-sans main-white">
            <div class="card-content">
              <span class="card-title activator main-green-text">ENGLISH MODULES<i class="material-icons right">more_vert</i></span>
                <div class="row">
                  <div class="input-field col s12">
                    <%= f.input :eng_comments, label: 'Kamusta ang English module ng kid mo ngayong week?' %>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <%= f.input :eng_sw_comments, label: 'Eh yung seatwork?' %>
                  </div>
                </div>
            </div>
            <div class="card-reveal open-sans main-white">
              <span class="card-title grey-text text-darken-4">Kamusta ang Math module ng kid mo ngayong week?<i class="material-icons right">close</i></span>
              <p>Malabo ba ang discussion ng topic? Mahirap bang intindihin for the kids? Kulang ba sa examples?</p>
              <span class="card-title grey-text text-darken-4">Eh yung seatwork?</span>
              <p>Malabo ba ang instructions ng seatwork? Masyado bang mahirap para sa kids? O masyado bang madali na walang room for challenge? Kulang ba ng items sa seatwork?</p>
            </div>
          </div>
        </center>

        <center>
          <div class="container card open-sans main-white">
            <div class="card-content">
              <span class="card-title activator main-green-text">SUGGESTIONS AND SHARING OF EXPERIENCES<i class="material-icons right">more_vert</i></span>
                <div class="row">
                  <div class="input-field col s12">

                    <%= f.input :suggestions, label: 'May suggestions ka ba para sa susunod na Erya?/May gusto ka bang i-share tungkol sa Erya experience mo?' %>
                  </div>
                </div>  
              
            </div>
            <div class="card-reveal open-sans main-white">
              <span class="card-title grey-text text-darken-4">May suggestions ka ba para sa susunod na Erya?<i class="material-icons right">close</i></span>
              <p>Sa sign-ups, transpo, tutoring, kapwa-tutors, tutees, monitors and deputies, atbp.</p>
              <span class="card-title grey-text text-darken-4">May gusto ka bang i-share tungkol sa Erya experience mo?</span>
              <p>Kahit ano! Feel free to say anything! May mga quotable quotes ka ba from your tutee/s or kapwa-tutors? Or may realization and/or observation ka ba habang nag-e-Erya? Lagay mo na yan dito go!</p>
            </div>
          </div>
        </center> 

        <center>
          <div class="container card open-sans main-white">
            <div class="card-content">
              <span class="card-title activator main-green-text">SAVE AND SUBMIT</span>
                <div class="row">
                  <div class="input-field col s12">
                    <%= f.input :eval_name, label: 'Evaluation Name (e.g. Evaluation-1, Evaluation-2)' %>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </center> 
        <br>
        <center>
      <div class="col s12 offset-s8 open-sans">
        <span><%= f.submit :Save, class: 'btn btn-main-green' %></span>
        <%= link_to 'Cancel', evaluation_ts_path, :class => 'waves-effect waves-light btn btn-main-green' %>
        <br>
        <% end %>   
  </div>
</center>
<br>
      </body>

      </html>