<body class="main-white">
<p id="notice"><%= notice %></p>

<div class="col s12">
    <center>
      <br>
      <br>
      <a class="main-green-text crete-round"><font size="6">Evaluations</font></a>
      <br>
      <%=image_tag("/assets/line3.png" , height:'55')%>
      <%if member_t_signed_in? %>
      <br>
      <br>
      <%= link_to 'Create Evaluation', new_evaluation_t_path, :class => 'waves-effect waves-light btn btn-main-green'  %>
      <br>
      <br>
      <%end%>
    </center>
  </div>

<!--table-->
  <div class="container">
    <div class="row">
    <table class="bordered">
      <thead class="table-header crete-round">
        <tr>
          <div class="col s3">
          <th data-field="name">Evaluation Name</th>
          </div>
          <div class="col s3">
          <th data-field="subject">Created By</th>
          </div>
          <div class="col s3">
          <th data-field="subject">Date & Time Uploaded</th>
          </div>
          <div class="col s3">
          <th data-field="actions"><center>Actions</center></th>
          </div>
        </tr>
      </thead>
    
    <tbody>
    <%if member_t_signed_in? %>
    <% @evaluation_ts.each do |evaluation_t| %>
      <tr>
        <div class="col s3">
        <td><%= evaluation_t.eval_name %></td>
        </div>
        <div class="col s3">
        <td><%=evaluation_t.member_t.first_name %> <%=evaluation_t.member_t.middle_initial %> <%=evaluation_t.member_t.last_name %></td>
        </div>
        <div class="col s3">
        <td><%= evaluation_t.evaldatetime %></td>
        </div>
        <div class="col s3">
              <td><center><%= link_to 'Show', evaluation_t, :class => 'waves-effect waves-light btn btn-main-green' %>
              <%if current_member_t == evaluation_t.member_t or current_member_t.membership == "Administration" %>
              <%= link_to 'Edit', edit_evaluation_t_path(evaluation_t), :class => 'waves-effect waves-light btn btn-main-green' %>
              <%= link_to 'Delete', evaluation_t, method: :delete, :class => 'waves-effect waves-light btn btn-main-green', data: { confirm: 'Are you sure?' } %></center></td>
              <%end%>
            </div>
      </tr>
      <% end %>
    <%else%>
    <center>
    <div class="col s3">
      
          <td>You must be signed in to view</td>
      
   </div>
   </center>
    <%end%>

      </tbody>
    </table>



    
  </div>
</div>
</body>



