<p id="notice"><%= notice %></p>

<p>
  <strong>Week no:</strong>
  <%= @tpr_t.week_no %>
</p>


<p>
  <strong>Tutee t:</strong>
  <%= @tpr_t.tutee_t_id %>
</p>

<p>
  <strong>Strengths:</strong>
  <%= @tpr_t.strengths %>
</p>

<p>
  <strong>Weaknesses:</strong>
  <%= @tpr_t.weaknesses %>
</p>

<p>
  <strong>Actions:</strong>
  <%= @tpr_t.actions %>
</p>

<p>
  <strong>Module t:</strong>
  <%= @tpr_t.module_t_id %>
</p>

<p>
  <strong>Member t:</strong>
  <%= @tpr_t.member_t_id %>
</p>

<%= link_to 'Edit', edit_tpr_t_path(@tpr_t) %> |
<%= link_to 'Back', tpr_ts_path %>
