<body class="main-white">
<p id="notice"><%= notice %></p>

<div class="col s12">
    <center>
      <br>
      <br>
      <a class="main-green-text crete-round"><font size="6">Worksheet Results</font></a>
      <br>
      <%=image_tag("/assets/line3.png" , height:'55')%>
      <br>
      <br>
      <%= link_to 'Create worksheet', new_worksheet_t_path, :class => 'waves-effect waves-light btn btn-main-green'  %>
      <br>
      <br>
    </center>
  </div>

<% @module_ts.each do |m|%>
<!--table-->
  <div class="container">
<a class="main-green-text"><%= m.topic %> Module</a>
 <% m_count = WorksheetT.where(module_t_id: m.id).count %>
 <% if m_count != 0 %>
Total worksheets: <%= m_count %><br>
Average: <%  - m_count %>
    <div class="row">
    <table class="bordered">
       <thead class="table-header crete-round">
        <tr>
          <div class="col s3">
          <th data-field="subject">Tutee</th>
          </div>
          <div class="col s3">
          <th data-field="subject">Score</th>
          </div>
          <div class="col s3">
          <th data-field="actions"><center>Actions</center></th>
          </div>
        </tr>
      </thead>
      <tbody>
    <% WorksheetT.where(module_t_id: m.id).find_each  do |w| %>
      <tr>
        <div class="col s4">
        <td><%= w.tutee_t.first_name %> <%= w.tutee_t.last_name %></td>
        </div>
        <div class="col s4">
        <td><%= w.score %></td>
        </div>
        <div class="col s3">
              <td><center>
                <%= link_to 'Show', worksheet_t_path(w), :class => 'waves-effect waves-light btn btn-main-green' %>
              <%= link_to 'Edit', edit_worksheet_t_path(w), :class => 'waves-effect waves-light btn btn-main-green' %>
              <%= link_to 'Delete', w, method: :delete, :class => 'waves-effect waves-light btn btn-main-green', data: { confirm: 'Are you sure?' } %></center></td>
            </div>
        </tr>        <% end %>
      </tbody>
    </table>
 <% else %>
     No worksheets yet.<br><br>
 <% end %>
</div>
</div>
       <% end %>
</body>



