<p id="notice"><%= notice %></p>


<br>
<center>
          <div class="container card open-sans main-white">
            <div class="card-content">
              <span class="card-title activator main-green-text"><%= @evaluation_t.eval_name %></i></span>
                <div class="row"><br>
                    <b>Created By:</b>
                    <%= @evaluation_t.member_t.first_name %> <%= @evaluation_t.member_t.middle_initial %> <%= @evaluation_t.member_t.last_name %><br><br>
                    <b>Date & Time of Upload:</b> <%= @evaluation_t.evaldatetime %>
                    <br><br><br><br>
                    <b>TUTORING COMMENTS</b><br><br>
                      <b>Kamusta ang ERYA ngayong week?</b><br>
                      <%= @evaluation_t.tutoring_comments %><br><br><br>
                      <b>MATH MODULES </b><br><br>
                      <b>Kamusta ang Math module ng kid mo ngayong week?</b><br>
                      <%= @evaluation_t.math_module_comments %><br><br>
                      <b>Eh yung seatwork?</b><br>
                      <%= @evaluation_t.math_sw_comments %><br><br>
                      <br>
                      <b>ENGLISH MODULES</b><br><br>
                        <b>Kamusta ang English module ng kid mo ngayong week?</b><br>
                        <%= @evaluation_t.eng_comments %><br><br>
                        <b>Eh yung seatwork?</b><br>
                        <%= @evaluation_t.eng_sw_comments %><br><br><br>
                        <b>SUGGESTIONS AND SHARING OF EXPERIENCES</b><br><br>
                           <b>May suggestions ka ba para sa susunod na Erya?/May gusto ka bang i-share tungkol sa Erya experience mo?</b><br>
                          <%= @evaluation_t.suggestions %><br><br><br>
          

                
      </div>
    </div>
  </div>
                <br>
                <!--buttons-->
                <div class="row">
                <center>
            <%= link_to 'Edit', edit_evaluation_t_path(@evaluation_t), :class => 'waves-effect waves-light btn btn-main-green' %> 
            <%= link_to 'Back', evaluation_ts_path, :class => 'waves-effect waves-light btn btn-main-green' %>
          </center>
        </div>
              </form>



            
            
          </div>
        </center> 











  







